spring:
  security:
    oauth2:
      client:
        registration:
          auth0:
            client-id: ${AUTH0_CLIENT_ID}
            client-secret: ${AUTH0_CLIENT_SECRET}
            scope: openid,profile,email,offline_access
            authorization-grant-type: authorization_code
            redirect-uri: "{baseUrl}/login/oauth2/code/auth0"
        provider:
          auth0:
            issuer-uri: https://${AUTH0_DOMAIN}/

  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: lambda-api
              uri: ${LAMBDA_URL:https://tpan.duckdns.org}
              predicates:
                - Path=/api/ss/**
              filters:
                - RewritePath=/api/ss/(?<segment>.*), /api/$\{segment}
                - TokenRelay= # This is the magic line
                - RemoveRequestHeader=Cookie # Don't leak the session cookie to AWS
            - id: local-api
              uri: http://localhost:8081
              predicates:
                - Path=/api/lo/**
              filters: # This regex captures everything after /api/lo/ and puts it after /api/
                - RewritePath=/api/lo/(?<segment>.*), /api/$\{segment}
                - TokenRelay=
                - RemoveRequestHeader=Cookie